<template name="profileDetail">
  <div class="well">
    <h1>{{name}}</h1>
    <p>{{profileText}}</p>
  </div>
</template>

<!-- alternatively you can also use a template helper -->
<!--
<template name="profileDetail">
  {{> contentFor region='left' template="profileImage"}}

  <h1>Manuel Schoebel</h1>
  <p>I like to eat good food and cooking it myself!</p>
</template>

<template name="profileImage">
  <img class="img-responsive img-rounded" src="https://pbs.twimg.com/profile_images/378800000123289551/1f63258a55d204a327ac2b5a1bf1d673_400x400.jpeg">
</template>
-->
